@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

li,a, button{
  font-family: 'Oswald', sans-serif;
}
ul{
  padding: 0px;
}
*{
  box-sizing: border-box;
  border-color: rgba(226, 32, 32, 0.22);
}
  

body{

  margin: 0px; 
  border-right: 10px;

}


hr{
  
  height: 2px;
  background-color: rgba(226, 32, 32, 0.22);
  border: none;
}

.navbar{
  margin: 0px;
  padding: 10px;
  border-right: 10px;
  width: 100%;
  border-bottom: 4px  rgba(226, 32, 32, 0.22);
  border-bottom-style:outset;
  background-color: #8850eca3;
  position: fixed;
  font-size: larger;
}

@media screen and (max-width:639px) {
  .navbar{
    
    border-bottom:10px rgba(226, 32, 32, 0.22) solid;
    
  }
  .navbar ul{
    display: none;
  }
  
}
/* .px{
  font-size: 20px;
}
.rem{
  font-size: 1rem;
}
.pt{
  font-size: 1pt;
}
.em{
  font-size: 1em;
} */

.navbar ul{
  display: flex;
  justify-content: right;
  margin:0px;
  /* background-color: #B6BBC4 */

}
.navbar ul li{
  list-style: none;
  border: 10px;
  display: flex;
  padding: 1rem;
  font-size:larger;
  
}

.navbar a{
  color: black;
  margin-inline: 10px ;
  display: flex;
  padding: 10px 20px;
  margin: 0 10px;
  /* background-color: #F0ECE5; */
  /* text-decoration-style: dashed; */

}
.navbar a:hover{
  text-decoration-style: solid;
  text-shadow: 2px;

}  
.Who{
  border-style: solid;
  border: 1px;
  padding: 13em 6.5em 7em;
  border: 10px;
  justify-content: center;
  align-items: center;
  /*  display: flex; */
  display: flow-root;
  text-align: center;
  /* background-image: url('../images/1674918750028.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; */
  background-color: #FFB534;
  
}

.Desc{
  margin: 13% -4%;
  font-size: larger;
}

.Who Desc{
    margin-top: 25%;
    width: auto;
}



.Who img{
    width: 236px;
    border-radius: 124px;
    float: left;
    margin-left: 24px;
}
@media screen and (max-width:855px){
  .Who img{
    width: 100px;
    border-radius: 100px;
    float: none;
  }
}

.Who h1,h2,h3,h4,h5{
  display: inline;
 
}
h1[draggable="false"]{
 color: blue;

}
.navbar img.logo{

  width: 4.5em;
  height: auto;
  float:left;
  border-radius: 100px;
  margin-left: 2em  ;
}
 

  .What{
    padding: 9em;
    text-align: center;
    border-top-style: solid;
    border-bottom-style: solid;
    background: #6DA4AA;
    /* border-radius: 100px; */
  }  
  .What ul li{
    list-style: none;
  }

  .column {
    float: left;
    width: 30%; 
    padding: 20px;
}

.row {
    display: flex;
    
    clear: both;
    justify-content: center;
}
.skill-content{
  align-items: center;
}

@media screen and (max-width: 900px) {
    .row {
      display: grid;
      width: 100%
        
    }
    .column{
      width: 100%;
    }
}

